<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.s4-angular-cordova-bug" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>S4AngularCordovaBug</name>
    <description>
        Demonstrates Angular dirty checking crashing Cordova app on Galaxy S4 running Android 4.2.2
    </description>
    <author email="rtrott@gmail.com" href="https://github.com/Trott">
        Rich Trott, with boilerplate liberally copied from TodoMVC and the Cordova command-line scaffolding
    </author>
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <icon src="icon.png" />

    <access origin="*" />
    <content src="index.html" />
</widget>
