<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Galaxy S4 + Android 4.2.2 + PhoneGap Crash</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/mainPage.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/secondary.css" media="screen">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
</head>
<body>
    <div id="ng-app" data-ng-app="main">

<!-- Begin Templates -->
<script type="text/ng-template" id="main/mainMenu.html">
<ol class="front">
    <li>
        <a href="#/news"><img class="dashboard_icon" src="img/homescreen/news-72.png" alt=""><br>News</a>
    </li>
</ol>
</script>

<script type="text/ng-template" id="news/mainMenu.html">
<section>
<progress data-ng-hide="feed"><span class="spinner"></span></progress>
<div data-ng-show="feed.entries && feed.entries.length>0" class="menu detailed">
    <h2>News</h2>
    <ol data-ng-repeat="entry in feed.entries">
        <li>
            <a class="no-ext-ind" rel="external" href="{{entry.link}}"><span class="external">{{entry.title}}</span>
                <div class="smallprint light">{{entry.dateTime.date}}</div>
            </a>
        </li>
    </ol>
</div>
<div class="content" data-ng-cloak data-ng-show="feed && ! feed.entries || feed.entries.length===0">
    <h2>News</h2>
    <p>Content could not be loaded. Please <a href="" data-ng-click="load()">try again</a>.</p>
</div>
</section>
</script>
<!-- End Templates -->


        <header class="main-header" data-ng-cloak="">
            <div class="logo"></div>
        </header>
        <div data-ng-view="" data-ng-animate="{enter: &apos;transition-in&apos;}">
        </div>
        <div data-ng-cloak="" data-ng-controller="navigationController">
            <button data-ng-hide="hideNavigation" data-ng-animate="{show: &apos;transition-in&apos;}" onclick="window.history.go(-1);" class="nav-button">Back</button>
        </div>
    </div>
    <script src="js/campuskit.js"></script>
    <script src="js/modules/angular.js"></script>
    <script src="js/modules/angularytics.js"></script>
    <script src="js/modules/main.js"></script>
    <script src="js/modules/rssReader.js"></script>
    <script src="js/modules/news.js"></script>
</body>
</html>