<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Galaxy S4 + Android 4.2.2 + PhoneGap Crash</title>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
</head>
<body>
    <div id="ng-app" data-ng-app="main">

<!-- Begin Templates -->
<script type="text/ng-template" id="main/mainMenu.html">
    <a href="#/shuttle/list">On Galaxy S4, touch here, wait a few seconds, and the app will crash.</a>
</script>

<script type="text/ng-template" id="shuttle/routeList.html">
<section>
<div data-ng-show="loading"><progress><span class="spinner"></span></progress></div>
<div data-ng-hide="loading" class="menu detailed">
    <h2>Shuttles<span data-ng-show="location"> for {{location}}</span></h2>
    <ol>
        <li data-ng-repeat="route in routes | orderBy: 'routeShortName'">
            <a href="#/shuttle/schedule/{{route.id.id}}"><div class="shuttle-color {{route.id.id}}"></div> {{route.routeShortName}}</a>
        </li>
    </ol>
    <p data-ng-show="!routes.length && !loadError">No shuttles found.</p>
    <p data-ng-show="loadError">Could not load content. Please <a href="" data-ng-click="load()">try again</a>.</p>
</div>
</section>
</script>
<!-- End Templates -->
        <div data-ng-view=""></div>
    </div>
    <script src="js/campuskit.js"></script>
    <script src="js/modules/angular.js"></script>
    <script src="js/modules/main.js"></script>
    <script src="js/ucsf.js"></script>
    <script src="js/modules/shuttle.js"></script>
</body>
</html>